body {
    padding-top: 36px;
    height: 100%;
    min-height: 100%
}

html {
    height: 100%;
}

input.form-control {
    margin-bottom: 5px;
}

.mainView{
    height:100%;
}

.container-top{
    margin-top:50px;
}

.navbar-default {
    background-color: #6A6877;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #FBFBFB;
}
