<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            Crypto Test
        </a>
    </div>
</nav>

<div class="container-fluid container-top">
    <form>
        <div class="form-group">
            <label for="username">Input</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username"
                   placeholder="Enter your text">
        </div>
    </form>
    <button ng-click="model.login(model.user)" class="btn btn-primary btn-block">Login</button>
    <br/>
    <div uib-alert ng-repeat="alert in model.alerts"
         ng-class="'alert-' + (alert.type || 'warning')"
         close="model.closeAlert($index)" dismiss-on-timeout="2000">
        {{alert.msg}}
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
